ByteSize-1.0.gir
ByteSize-1.0.typelib
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
py-compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
autom4te.cache/
missing
po/POTFILES
po/stamp-po
po/remove-potcdate.sed
**/*.deps
**/*.libs
**/*.la
**/*.lo
**/*.pyc
**/__pycache__
**/Makefile
**/Makefile.in
**/*.stamp
*.tar.gz