ByteSize-1.0.gir
ByteSize-1.0.typelib
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
py-compile
config.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
autom4te.cache/
missing
po/*.po
po/*.pot
po/*.mpo
po/*.mo
dist/libbytesize.spec
src/bytesize.pc
docs/libbytesize-decl-list.txt
docs/libbytesize-decl.txt
docs/libbytesize-decl.txt.bak
docs/libbytesize-overrides.txt
docs/libbytesize-undeclared.txt
docs/libbytesize-undocumented.txt
docs/libbytesize-unused.txt
docs/libbytesize.types
docs/xml/
docs/html/
docs/libbytesize-docs.xml
dist/libbytesize.spec
**/*.deps
**/*.libs
**/*.la
**/*.lo
**/*.pyc
**/__pycache__
**/Makefile
**/Makefile.in
**/*.stamp
*.tar.gz
**/*.po
**/*.gmo
**/*.po~
tests/*.log
tests/*.trs
test-driver
tests/canary_tests.sh
tests/libbytesize_unittest.sh
tools/bs_calc.py